@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* colors.indigo.700 or colors.emerald.700 */

:root {
  --app-primary: #200e3d;  
  --app-secondary: theme(colors.indigo.100);
  
  /* Text */
  --app-text-primary: #200e3d; 
  --app-text-secondary:theme(colors.indigo.50);
  
  /* Border */
  --app-border-primary: #200e3d;
  --app-border-secondary: #000000;

  --app-primary-hover: #31165c; 
  
}

/* Dark Mode */
.dark {
  --app-primary: #265aae;
  --app-secondary-from: #283446;

   --app-text-primary: #70a9ef; 
  --app-text-secondary: #9ca3af;

  --app-border-primary: #60a5fa;
  --app-border-secondary: #818cf8;
}

.bg-app-primary {
  background-color: var(--app-primary);
}

.bg-app-secondary {
  background-color: var(--app-secondary);
}

/* -------- TEXT -------- */
.text-app-primary {
  color: var(--app-text-primary);
}

.text-app-secondary {
  color: var(--app-text-secondary);
}

/* -------- BORDERS -------- */
.border-app-primary {
  border-color: var(--app-border-primary);
}

.border-app-secondary {
  border-color: var(--app-border-secondary);
}

.btn-primary {
  background-color: var(--app-primary);
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--app-primary-hover) !important;
}

.btn-text-primary {
  color: var(--app-primary);
  transition: all 0.2s ease-in-out;
}

.btn-text-primary:hover {
  color: var(--app-primary-hover);
}

.focus\:ring-app-primary:focus {
  box-shadow: 0 0 0 2px var(--app-primary);
}
/* ------------------- App Table ------------------- */
.app-table {
  background: #ffffff;
}

.app-table .ant-table-thead > tr > th {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 13px;
  padding: 14px 12px;
  border-bottom: 1px solid #e5e7eb;
  white-space: nowrap;
}

.app-table .ant-table-column-sorter {
  margin-left: 6px;
}

.app-table .ant-table-tbody > tr > td {
  font-size: 13px;
  padding: 14px 12px;
  border-bottom: 1px solid #e5e7eb;
  color: #111827;
}

.app-table .ant-table-tbody > tr:nth-child(even) {
  background-color: #fafafa;
}

.app-table .ant-table-tbody > tr:hover > td {
  background-color: #f1f5f9;
  cursor: pointer;
}

/* Checkbox alignment */
.app-table .ant-checkbox-wrapper {
  margin-left: 4px;
}

/* Remove default ant border */
.app-table .ant-table-container {
  border: none;
}